{% load static %}
<footer class="footer" id="footerSec">
    <div class="container aos-init" data-aos="fade-up">
        <div class="row">
            <div class="col-12 col-lg-4 pt-5 mt-5">
                <img src={% static 'styles/assets/images/logo.png' %} class="img-fluid" alt="Brand color white"
                    title="Brand color white">
                <p class="text-justify pt-5 font-medium">EalingAir is a low cost airline company operating 
                domestically on United Kingdom.</p>
                {% comment %} <div class="mt-5">
                    <img src={% static 'styles/assets/images/icons/iata-color.svg' %} class="img-fluid d-inline-flex" alt="IATA"
                        title="IATA">
                    <p class="fw-bold text-uppercase mb-0 ms-2 mt-3 d-flex font-small">We are an IATA
                        Certified travel
                        agency
                    </p>
                </div> {% endcomment %}
                {% comment %} <div class="col-12 mt-5">
                    <img src="../styles/assets/images/icons/tafi.svg" class="img-fluid me-4" alt="tafi" title="tafi">
                    <img src="../styles/assets/images/icons/taai-color.svg" class="img-fluid" alt="taai" title="taai">
                </div> {% endcomment %}
            </div>
            <div class="col-12 col-lg-4 pt-5">
                <div class="row">
                    <div class="col-12 col-md-6 mt-5">
                        <p class="text-uppercase fw-bold mb-4">About Us</p>
                        <ul class="fl-menu">
                            <li class="nav-item"><a href="about.html">About</a></li>
                            <li class="nav-item"><a href="contact.html">Contact us</a></li>
                            <li class="nav-item"><a href="#">Bank Details</a></li>
                        </ul>
                        <p class="text-uppercase fw-bold mt-5">Company</p>
                        <ul class="fl-menu">
                            <li class="nav-item"><a href="#">Partner With Us</a></li>
                            <li class="nav-item"><a href="#">Services</a></li>
                            <li class="nav-item"><a href="#">Careers</a></li>
                            <li class="nav-item"><a href="#">Products</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 mt-5">
                        <p class="text-uppercase fw-bold mb-4">Legal</p>
                        <ul class="fl-menu">
                            <li class="nav-item"><a href="privacy.html">Privacy</a></li>
                            <li class="nav-item"><a href="#">T&amp;C</a></li>
                            <li class="nav-item"><a href="#">Disclaimer</a></li>
                            <li class="nav-item"><a href="#">Privacy and Cookies</a></li>
                            <li class="nav-item"><a href="#">Legal</a></li>
                            <li class="nav-item"><a href="#">Help</a></li>
                            <li class="nav-item"><a href="#">Feedback</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 pt-5">
                <p class="text-uppercase fw-bold pt-lg-5">Stay In Touch</p>
                <form class="form">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control py-3 rounded-0" id="inputPassword2"
                                    placeholder="Enter your email address">
                                <button type="button"
                                    class="btn btn-outline-light rounded-0 custom-btn-subscribe btn-effect">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12 text-start py-3 mt-4">
                        <p class="d-inline-flex text-uppercase fw-bold mb-0">Follow Us</p>
                        <div class="d-inline-flex social">
                            <a href="#" class="ps-3 smo"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="ps-3 smo"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="ps-3 smo"><i class="bi bi-linkedin"></i></a>
                            <a href="#" class="ps-3 smo"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-12 social py-3">
                        <p class="d-inline-flex text-uppercase fw-bold mb-4">Support Center</p>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="bi bi-geo-alt-fill"></i>
                            </div>
                            <div class="flex-grow-1 ms-3 theme-text-accent-two font-medium">
                                St Mary's Rd, London W5 5RF
                            </div>
                        </div>
                        <div class="d-flex mt-3">
                            <div class="flex-shrink-0">
                                <i class="bi bi-telephone-fill"></i>
                            </div>
                            <div class="flex-grow-1 ms-3 theme-text-accent-two font-medium">
                                <a href="#" class="botom-link">(+44) 7887639302</a>
                            </div>
                        </div>
                        <div class="d-flex mt-3">
                            <div class="flex-shrink-0">
                                <i class="bi bi-envelope-fill"></i>
                            </div>
                            <div class="flex-grow-1 ms-3 theme-text-accent-two font-medium">
                                <a href="mailto:suryahangam296@gmail.com" class="botom-link">suryahangam296@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0 pt-5">
            <div class="col-12 border-top">
                <p class="text-center py-5 mb-0 font-small">©2024 EalingAir. All ends Reserved.
                </p>
            </div>
        </div>
    </div>
    <p id="back-top" class="back-to-top bg-dark" style="display: none;">
        <a href="#top"><i class="bi bi-chevron-up"></i></a>
    </p>
</footer>