{% load static %}
<header class="header theme-bg-white" id="home">
    <div class="container">
        <div class="sideMenu">
            <button type="button" class="btn rounded-0 btn-left toggle-slide-end d-lg-none"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop"
                aria-controls="offcanvasWithBackdrop">
                <i class="bi bi-text-center"></i>
            </button>
            <div class="offcanvas offcanvas-start theme-bg-secondary border-0" tabindex="-1"
                id="offcanvasWithBackdrop">
                <div class="p-0">
                    <span class="p-0" id="offcanvasLabel"></span>
                    <button type="button" class="btn-close custom-btn-close theme-text-white"
                        data-bs-dismiss="offcanvas" aria-label="Close">
                        <i class="bi bi bi-x-lg"></i>
                    </button>
                </div>
                <!-- left side menu section -->
                <div class="offcanvas-body p-0 mt-5">
                    <ul class="menuList nav flex-column w-100">
                        <li class="nav-item"><a href="index.html" class="position-relative card-effect">
                                <div class="card-box"></div>
                                <i class="bi bi-house-fill ps-4 pe-2"></i>Home
                            </a>
                        </li>
                        <li class="nav-item"><a href="deals-offers.html"
                                class="position-relative card-effect">
                                <div class="card-box"></div>
                                <i class="bi bi-chat-square-heart-fill ps-4 pe-2"></i>Specials Deals
                            </a>
                        </li>
                        <li class="nav-item"><a href="#travelDeals" class="position-relative card-effect">
                                <div class="card-box"></div>
                                <i class="bi bi-bookmark-check-fill ps-4 pe-2"></i>Travel Deals
                            </a>
                        </li>
                        <li class="nav-item"><a href="#featuredFlights"
                                class="position-relative card-effect">
                                <div class="card-box"></div>
                                <i class="bi bi-bell-fill ps-4 pe-2"></i>Featured Flights
                            </a>
                        </li>
                        <li class="nav-item"><a href="#howWork" class="position-relative card-effect">
                                <div class="card-box"></div>
                                <i class="bi bi-shield-fill-exclamation ps-4 pe-2"></i>How it Work
                            </a>
                        </li>
                        <li class="nav-item"><a href="about.html" class="position-relative card-effect">
                                <div class="card-box"></div>
                                <i class="bi bi-balloon-fill ps-4 pe-2"></i>About Us
                            </a>
                        </li>
                        <li class="nav-item"><a href="contact.html" class="position-relative card-effect">
                                <div class="card-box"></div>
                                <i class="bi bi-arrows-move ps-4 pe-2"></i>Contact Us
                            </a>
                        </li>
                        <li class="nav-item"><a href="blog.html" class="position-relative card-effect">
                                <div class="card-box"></div>
                                <i class="bi bi-arrow-end-circle-fill ps-4 pe-2"></i>Blogs
                            </a>
                        </li>
                    </ul>
                    <div class="mt-5">
                        <p class="d-inline-flex theme-text-white">
                            <i class="bi bi-telephone-fill h4 theme-text-white ps-4 pe-2"></i>
                            24×7 Customer Support <br> 1800-313-5699
                        </p>
                    </div>
                    <div class="mt-3">
                        <p class="d-inline-flex theme-text-white">
                            <i class="bi bi-envelope-fill h4 theme-text-white ps-4 pe-2"></i>
                            Email us <br> support@example.com
                        </p>
                    </div>
                    <p class="ps-4 mb-0 mt-5 theme-text-white">Social Network</p>
                    <div class="d-flex social mt-3 ps-4">
                        <a href="#" class="h4 pe-3"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="h4 px-3"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="h4 px-3"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="h4 px-3"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-light py-0 px-0">
            <a class="navbar-brand ms-5 ms-lg-0" href="{% url 'home' %}"><img src={% static 'styles/assets/images/logo.png' %}
                    alt="Brand Logo" title="Brand Logo" class="img-fluid"></a>
            <button class="navbar-toggler px-1 btn rounded-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>sadfdsf
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                     <li class="nav-item text-center pe-md-4">
                        <div class="dropdown-container">
                            <div class="dropdown-toggle click-dropdown">
                                <i class="bi bi-info-circle-fill"></i>
                                <span class="d-flex justify-content-center">Pages</span>
                            </div>
                            <div class="dropdown-menu">
                                <ul>
                                    <li class="nav-item"><a class="dropdown-item" href="index.html">Home
                                            Default</a>
                                    </li>
                                    <li class="nav-item"><a class="dropdown-item"
                                            href="">Home
                                            Corporate</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="">About
                                            Us</a></li>
                                    <li class="nav-item"><a class="dropdown-item"
                                            href="">Contact Us</a>
                                    </li>
                                    <li class="nav-item"><a class="dropdown-item"
                                            href="">Privacy</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="">FAQ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li> 
                    {% comment %} <li class="nav-item text-center pe-md-4">
                        <div class="dropdown-container">
                            <div class="dropdown-toggle click-dropdown">
                                <i class="bi bi-currency-exchange"></i>
                                <span class="d-flex justify-content-center">Currency</span>
                            </div>
                            <div class="dropdown-menu">
                                <ul>
                                    <li class="nav-item"><a class="dropdown-item" href="#"><span
                                                class="flag in"></span>INR</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="#"><span
                                                class="flag us"></span>USD</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="#"><span
                                                class="flag er"></span>EUR</a></li>
                                </ul>
                            </div>
                        </div>
                    </li> {% endcomment %}
                    {% comment %} <li class="nav-item text-center pe-md-4">
                        <div class="dropdown-container">
                            <div class="dropdown-toggle click-dropdown">
                                <i class="bi bi-translate"></i>
                                <span class="d-flex justify-content-center">Language</span>
                            </div>
                            <div class="dropdown-menu">
                                <ul>
                                    <ul>
                                        <li class="nav-item"><a class="dropdown-item" href="#"><span
                                                    class="flag us"></span>English</a></li>
                                        <li class="nav-item"><a class="dropdown-item" href="#"><span
                                                    class="flag ru"></span>Rusian</a></li>
                                        <li class="nav-item"><a class="dropdown-item" href="#"><span
                                                    class="flag fr"></span>French</a></li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </li> {% endcomment %}
                    <li class="nav-item text-center">
                        <div class="dropdown-container">
                            <div class="dropdown-toggle click-dropdown">
                                <i class="bi bi-person-circle"></i>
                                <span class="d-flex justify-content-center">Account</span>
                            </div>
                            <div class="dropdown-menu">
                                <ul>
                                    <li class="nav-item"><a class="dropdown-item"
                                            href="{% url 'login' %}">Login</a></li>
                                    <li class="nav-item"><a class="dropdown-item"
                                            href="{% url 'register' %}">Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>